<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/skeleton.css') }}">
    <title>NewsPie</title>
</head>
<body>
    <div class="container" style="margin-top: 5%">
        <h2>API key is invalid or its configuration is incorrect (not saved as an environment variable or as a string in the script).</h2>
    </div>
</body>
</html>