<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <title>NewsPie</title>
    </head>
        <body>
            <main class="container">
                <h2>API key is invalid or its configuration is incorrect (not saved as an environment variable or as a string in the code).</h2>
            </main>
        </body>
</html>