<!DOCTYPE html>
<html id="newspie" data-theme="{{ theme }}">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
        <title>NewsPie</title>
    </head>
    <body>
        <main class="container">
            <section>
                NewsPie{% for item in categories %}{% if item == category %} • <a href="/category/{{ item }}?page=1"><mark><b>{{ item }}</b></mark></a>
                {% else %} • <a href="/category/{{ item }}?page=1">{{ item }}</a>
                {% endif %}{% endfor %}
            </section>
            <section>
                <table role="grid">
                    <tbody>
                    {% for article in articles %}
                    <tr style="height: 75px;">
                        <td style="text-align: center;"><a href="{{ article['url'] }}" target="_blank"
                                rel="nofollow noopener noreferrer">{{ article['title'] }}</a> 
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <form method="POST" class="grid">
                    {% if page == 1 %}<button name="previous_page" type="submit" value="{{ page }}" disabled><</button>
                    {% else %}<button name="previous_page" type="submit" value="{{ page }}"><</button>
                    {% endif %}
                    <button class="outline" disabled>Page: {{ page }} / {{ pages }}</button>
                    {% if page >= pages %}<button name="next_page" type="submit" value="{{ page }}" disabled>></button>
                    {% else %}<button name="next_page" type="submit" value="{{ page }}">></button>
                    {% endif %}
                </form>
            </section>
            <form method="POST" class="grid">
                <input name="search_query" type="text" autocorrect="off" spellcheck="false" autocapitalize="off"
                        autocomplete="false" placeholder="Search phrase">
                <button type="submit">&#128270;</button>
            </form>
            <div class="grid">
                <form method="POST">
                    <select name="country" onchange="this.form.submit()">
                        <option value="None" selected disabled hidden>Select country</option>
                        {% for code in countries %}{% if code == country %}
                        <option value="{{ code }}" selected>
                            {{ countries[code] }}</option>
                        {% else %}
                        <option value="{{ code }}">{{ countries[code] }}</option>
                    {% endif %}{% endfor %}</select>
                </form>
                <form method="POST">
                    {% if theme == "light" %}<button name="theme" value="dark" onclick="this.form.submit()">Dark theme</button>
                    {% else %}<button name="theme" value="light" onclick="this.form.submit()">Light theme</button>
                    {% endif %}
                </form>
            </div>
        </main>
        <footer class="container">
            <div class="grid">
                <small style="text-align: center;">Source code: <a href="https://github.com/skamieniarz/newspie" target="_blank" rel="nofollow noopener noreferrer">GitHub</a></small>
                <small style="text-align: center;">Data source: <a href="https://newsapi.org/" target="_blank" rel="nofollow noopener noreferrer">News API</a></small>
            </div>
        </footer>
    </body>
</html>